# Reddit stuff
OAUTH_SECRET = ''
OAUTH_CLIENT = ''
USER_AGENT = 'reddit_stream'
REDDIT_UNAME  = ''
REDDIT_PASS = ''
REDDIT_CONFIG = {
    "client_id": OAUTH_CLIENT,
    "client_secret": OAUTH_SECRET,
    "username": REDDIT_UNAME,
    "password": REDDIT_PASS,
    "user_agent": USER_AGENT,
}

# DB
DB_URL = "data.db"
TABLE_NAME = "tweet"

# Twitter
TW_TOKEN = ""
TW_TOKEN_SECRET = ""
TW_API_KEY = ""
TW_API_SECRET = ""
TWITTER_CONFIG = {
    "token_key": TW_TOKEN,
    "token_secret": TW_TOKEN_SECRET,
    "API_key": TW_API_KEY,
    "API_secret": TW_API_SECRET,
}
